.app {
  background: blue;
  font-family: Roboto, helvetica, arial, sans-serif; 
}
.viewers {
  color: white;
  width: 70px;
  height: 50px;
  position: relative;
  padding-left: 45px;
  text-align: left;
  line-height: 28px;
  font-weight: 500;
  font-size: 25px;
}

.viewers::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../img/twitch.svg) left top no-repeat;
  background-size: cover;
}